<center><img src="http://www.creation-sites.com/wp-content/uploads/2011/09/creation-site-creativite.jpg" alt=""></center>
<ul>
	<h4>Menu</h4>
	<li><a href="https://www.facebook.com/">Facebook</a></li>
	<li><a href="http://www.youtube.com/">Youtube</a></li>
	<li><a href="http://localhost:4567/">index</a></li>
</ul>
<div class= "row">
<form action="/inscription" method="post"> 

<input type="text"       name="nom" placeholder="nom">
<input type="text"        name="prenom" placeholder="prenom">
<input type="text"        name="age" placeholder="age">
<input type="text"        name="adresse" placeholder="adresse">

<input type="submit"      value="envoyer">
 
</form>
</div>