<P>          
      </P>
      <center><a href="http://localhost:4567/acceuil" class="button">acceuil</a></center>
<center><button data-reveal-id="Click" data-reveal-ajax="http://www.youtube.com/watch?feature=player_detailpage&v=C7ob_5wq9xo">
    Click Me For A Modal
</button></center>


