<h3>bonjour: <%= params[:nom] %> <%= params[:prenom] %>,
 tu as: <%= params[:age] %>, tu habite au: <%= params[:adresse] %></h3>

 <div class="cadre_arrondi">
2                        
3                        <div class="hg"></div>
4                        <div class="haut"></div>
5                        <div class="hd"></div>
6                        
7                        <div class="gauche"></div>
8                        <div class="contenu">Ici, c'est le contenu du cadre !</div>
9                        <div class="droite"></div>
10                        
11                        <div class="bg"></div>
12                        <div class="bas"></div>
13                        <div class="bd"></div>
14                
15</div>